$color-default: #BDC3C7
$color-inverse: #34495e
$color-info:    #3498DB
$color-warning: #F4D313
$color-success: #58D68D
$color-danger:  #E74C3C
$color-primary: #1abc9c
$color-pannel-info: #edf6fc
$color-dialog-default: #edeff1
$color-frames: #34495e
$text-color: #34495e

$break-small: 768px
$break-medium: 992px
$break-large: 1200px


