$color-default: #BDC3C7
$color-inverse: #415B76
$color-info:    #3498DB
$color-warning: #F4D313
$color-success: #58D68D
$color-danger:  #E74C3C



body
  padding-top: 76px

.bottom-menu .bottom-menu-brand
  margin: 0 0 15px 0

.bottom-menu-list
  margin: 0
  li
    display: block

#Main
  padding: 60px 0

.bottom-menu-inverse a
  color: #7795b4


.navbar-brand
  padding-left: 15px


.navbar-inverse
  .navbar-nav > li > a, .navbar-brand
    color: #eaeff3

textarea.form-control
  resize: none

/* Rend le Carousel adapté

#myCarousel .carousel-inner
  min-height: 450px

#myCarousel .carousel-inner .item img
  min-height: 450px

.navbar-toggle
  height: 53px
  padding: 0 20px
  line-height: 53px
  color: #34495e
  border: none

/* ######### SHOP ########## */
.products
  .well > .btn-group
    height: 41px
    //.added-to-cart




/* Breadcrumbs */
.woocommerce-breadcrumb
  padding: 10px 20px
  background-color: #eee
  border-radius: 15px

/* ########## Select ######### */
=couleur-select($color)
  .select2-drop &.select2-highlighted > .select2-result-label
    background-color: $color
/* Note: « .select-primary » est celui par défaut. pas besoin de le styler.
/* Default
.select-default
  +couleur-select($color-default)
/* Inverse
.select-inverse
  +couleur-select($color-inverse)
/* Default
.select-info
  +couleur-select($color-info)
/* Warning
.select-warning
  +couleur-select($color-warning)
/* Success
.select-success
  +couleur-select($color-success)
/* Danger
.select-danger
  +couleur-select($color-danger)

//@media (max-width: 335px)
//  .navbar-brand
//    position: absolute
//    font-size: 20px
//


/* ######### Panier ######### */
.cart_item > [class^="product"]
  vertical-align: middle
.product-remove .remove
  color: $color-danger
  
img  
  max-width: 100%

main
  padding-top: 30px
  padding-bottom: 30px


h2.visible-xs
  font-size: 36px
  text-align: left
  line-height: 36px
  padding-top: 76px








